.cut-text {
    $random-text: 'stolen hour';
    position: relative;
    text-transform: uppercase;
    font-size: $extra-large;
    color: transparent;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;

    &:after {
      content: $random-text;
      position: absolute;
      left: -10px;
      top: -2px;
      color: white;
      $path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
    
    &:before {
      content: $random-text;
      position: absolute;
      color: white;
      $path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
  }