.imageHead{
    display: flex !important;
    justify-content: center;
}

.imageHead img{
    max-width: 85%;
    margin-top: 2%;
}

.contentHead{
    text-align: center;
    font-size: 3vh !important;
}